
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    background: #222;
    padding: 20px 0;
    color: white;
}

.navbar .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

.navbar nav {
    float: right;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links .active {
    background-color: #00c851;
    padding: 5px 10px;
    border-radius: 4px;
}


.hero {
    background: #333;
    color: white;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}


.features {
    background: #f9f9f9;
    padding: 60px 20px;
}

.features .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.card {
    background: white;
    padding: 20px;
    flex: 2;
    margin: 10px;
}
.card img{
   width: 100px;
    height: 100px;
}

.green-section {
    background: #00c851;
    color: white;
    padding: 60px 20px;
}

.green-section p {
    max-width: 700px;
    margin: 10px auto;
}


.footer-section {
    background: #f1f1f1;
    padding: 60px 20px;
}

.footer-section p {
    margin: 10px auto;
    max-width: 700px;
}


.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}


.btn {
    display: inline-block;
    background: #00c851;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 4px;
}

.btn:hover {
    background: #009e42;
}

.btn.white {
    background: white;
    color: #00c851;
}

.btn.white:hover {
    background: #e6e6e6;
}
