body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: #007bff;
  border: none;
  color: white;
  cursor: pointer;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.item-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  gap: 10px;
}

.item-lista span {
  flex: 1;
}

.btn-remover {
  width: auto;
  padding: 5px 15px;
  background: #dc3545;
  font-size: 12px;
  white-space: nowrap;
  margin: 0;
}

#estatisticas {
  margin-top: 20px;
  background: #fafafa;
  padding: 15px;
}